.App {
  text-align: center;
}
@media (max-width: 768px) {
  .custom-card {
    width: 100%; /* Allow the card to take full width on smaller screens */
    margin-left: 0; /* Reset left margin for smaller screens */
  }

  .list-group {
    max-width: 100%; /* Allow the list to take full width on smaller screens */
  }
}

/****************************oyun alanı**************************/
.oyun {
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding-top: 200px; /* Üst boşluk oluştur */
  display: flex;
  justify-content: center; /* Yatayda ortalama */
  align-items: flex-start; /* Üst boşlukla hizalama */
}

.trex {
  background-color: aliceblue;
  width: 900px;
  height: 200px;
  position: relative; /* Kaktüsün içinde konumlanması için */
  overflow: hidden;
}

.karakter img {
  width: 50px;
  height: 55px;
  position: absolute;
  bottom:0; /* Sol alt köşeye yapıştır */
  left: 0; /* Sol üst köşeye yapıştır */
 
.bitki img{
  position: absolute;
  width:30px;
  
  bottom:0;
  left:865px;

}
.karakter-animate{
  animation:karakter .5s linear ;
}
}
.bitki-animate{
  animation:bitki 2s linear infinite;
}
@keyframes bitki {
  0%{left:775px;}
  100%{left:-40px}
} 
@keyframes karakter{
  0%{bottom:0px;}
  25%{bottom:70px;}
  75%{bottom:70px;}
  100%{bottom:0px;}
}


.navbar {
  position: fixed; /* Sabit pozisyon */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Navbar'ı sayfa üzerindeki diğer öğelerden üstte tutar */
  background-color: white; /* Arka plan rengi */
  border-bottom: 1px solid #ddd; /* Alt ayrım çizgisi */
  height: 80px; /* Yükseklik */
  display: flex;
  align-items: center;
  padding: 0 20px;
}

/* Ana konteyner */
.main-container {
  display: flex;
  flex-direction: row; /* Yan yana düzenleme */
  justify-content: space-between; /* Aralarına boşluk bırakır */
  margin-top: 70px; /* Navbar yüksekliği kadar boşluk */
  gap:10px; /* Aralarındaki boşluk */
}

/* Homepage2 daha az yer kaplasın */
.homepage2-container {
  flex: 0.2; /* Daha az alan kaplar */
   margin-top:120px;
  padding: 10px;
  width:290px;
}
@media (max-width: 768px) {
  .homepage2-container {
    flex: 0.3; /* Daha az alan kaplar */
    margin-top: 330px;
    padding: 8px;
    width: 250px;
  }
}

/* Ekran genişliği 480px'den küçük olduğunda (mobil cihazlar için) */
@media (max-width: 480px) {
  .homepage2-container {
    flex: 0.5; /* Daha fazla küçült */
    margin-top: 80px;
    padding: 5px;
    width: 200px;
  }
}
/* Homepage daha geniş yer kaplasın */
.homepage-container {
  flex: 0.9; /* Daha geniş alan kaplar */
  margin-top:50px;
  padding: 10px;
  
}
/*writedetail*/

.detay{
  display: flex;
  flex-direction: column;
  margin-top:60px;
}
.yazarresim{
  display: flex;
}
.yazarresim img{
  width: 100px;
  height:90px;
  margin-right:40px;
  margin-left:10px;
}
.hakkında{
  display: flex;
  flex-direction: column;
  margin-top:40px;
  align-items: flex-start;
  margin-left:8px ;
}

.pet{
  display:flex;
}

